
/* definindo alguns atributos globais */

* {
    font-size: 15px;
}

body {
    margin: 0;
}

a, p, li {
    text-decoration: none;
    color: #FCFDFE;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: rgba(252,253,254,0.5);
}

ul {
    list-style: none;
    padding: 0;
    /*overflow: hidden;*/
}

/* -----------------------------------------------------/*

/* definindo a logo ------------------------------*/
.logo > img {
    width: 150px;
    height: 48px;
}

.logo_maior {
    display: none;
}

.logo_maior > img {
    width: 200px;
    height: auto;
    
}

/* ---------------------------------------------------------------*/

/* codigo para o botao hamburguer que aparece
    na versao mobile*/
/* codigo baseado no site
    https://willianjusten.com.br/criando-icone-menu-hamburguer-animado-com-css-puro */

#check {
    display: none;
}

#checkbtn {
    float: right;
    position: relative;
    display: block;
    background: #000;
    width: 30px;
    height: 2px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    margin-top: 20px;
}
  
#checkbtn::before,
#checkbtn::after {
    background: #000;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}
  
#checkbtn::before {
    transform: translateY(-10px);
}
  
#checkbtn::after {
    transform: translateY(10px);
}

#check:checked ~ nav {
    display: block;
    top: 80px;
    left: 0px;
    transition:all 1s;
}

#check:checked ~ #checkbtn {
    transform: rotate(45deg);
}
  
#check:checked ~ #checkbtn::before {
    transform: rotate(90deg);
    top: 0;
}
  
#check:checked ~ #checkbtn::after {
    transform: rotate(90deg);
    bottom: 0;
}

/* ------------------------------------------------*/
/* definindo o cabecalho e seus descendentes */

header {
    background-color: #452C3C;
    min-height: 55px;
    padding: 0 1.1rem;
    padding-top: 15px;
    padding-bottom: 10px;
}

header > nav {
    display: none;
    width: auto;
    height: auto;
}

/* mesma coisa que -> header ul */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.menu > li {
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}

ul a {
    display: block;
    padding: 0.7rem;
}

/* -------------------------------------------------- */
/* definindo o conteudo principal e seus descendentes */

main {
    background-color: #3F3C4B;
    padding: 0.6em 1em;
    min-height: 22em;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.card {
    width: 20em;
    border-radius: 0.3em;
    background-color: #54494D;
    height: 14em;
    padding: 1em 1em;
}

.card > a {
    width: 100%;
    height: 14em;
    text-align: center;
}

.card div {
    width: 100%;
    height: 100%;
}

.card img {
    width: 17em;
    max-height: em;
    margin-bottom: 1em;
}

.card_detalhado { 
    min-height: 10em;
}

.card p {
    font-size: 1.15em;
    margin: 0;
    padding: 0.3em;
    text-align: center;
}

footer {
    /* parametros do flex */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: #201E1C;
    padding: 0.5em 1.1em;
}

footer .topico {
    text-align: center;
    font-size: 1.2em;
}

footer ul {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

footer a {
    display: block;
    padding: 0.4em;
    text-align: center;
}

footer li {
    display: block;
}

@media (min-width: 700px) {
    #checkbtn {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header > nav {
        display: block;
        margin-right: 2em;
    }

    .menu {
        flex-direction: row;
    }

    main {
        padding: 0.6em 1em;
    }

    .logo_maior {
        display: block;
    }

    footer {
        flex-direction: row;
    }

    footer ul {
        grid-template-columns: 1fr 1fr;
    }

    #item1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}