
:root {
    
    --cor-primaria: #27A65A;
    --cor-secundaria: #CAA4F1;
    --cor-terciaria: #244E64;
    --cor-letra: #E7E1D7;
}

/* ATRIBUTOS GLOBAIS */

* {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

a, p, li {
    text-decoration: none;
    color: var(--cor-letra);
}

a:hover {
    color: rgba(252,253,254,0.5);
}

ul {
    list-style: none;
    padding: 0;
    /*overflow: hidden;*/
}

/* ----------------------------------------------------- */
/* LOGO ------------------------------------------------ */

.logo > img {
    width: 150px;
    height: 48px;
}

.logo_maior {
    display: none;
}

.logo_maior > img {
    width: 200px;
    height: auto;
    
}

/* ---------------------------------------------------------------*/

/* codigo para o botao hamburguer que aparece
    na versao mobile */
/* codigo baseado no site
    https://willianjusten.com.br/criando-icone-menu-hamburguer-animado-com-css-puro */

#check {
    display: none;
}

#checkbtn {
    float: right;
    position: relative;
    display: block;
    background: #000;
    width: 30px;
    height: 2px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    margin-top: 20px;
}
  
#checkbtn::before,
#checkbtn::after {
    background: #000;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}
  
#checkbtn::before {
    transform: translateY(-10px);
}
  
#checkbtn::after {
    transform: translateY(10px);
}

#check:checked ~ nav {
    display: block;
    top: 80px;
    left: 0px;
    transition:all 1s;
}

#check:checked ~ #checkbtn {
    transform: rotate(45deg);
}
  
#check:checked ~ #checkbtn::before {
    transform: rotate(90deg);
    top: 0;
}
  
#check:checked ~ #checkbtn::after {
    transform: rotate(90deg);
    bottom: 0;
}

/* ------------------------------------------------*/
/* CABECALHO */

header {
    background-color: var(--cor-primaria);
    min-height: 55px;
    padding: 0 1.1rem;
    padding-top: 15px;
    padding-bottom: 10px;
}

header > nav {
    display: none;
    width: auto;
    height: auto;
}

/* mesma coisa que -> header ul */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.menu > li {
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}

ul a {
    display: block;
    padding: 0.7rem;
}

/* -------------------------------------------------- */
/* PRINCIPAL */

main {
    background-color: var(--cor-primaria);
    padding: 0.6em 1em;
    min-height: 22em;
    width: inherit;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

section {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-between;
}

/* CARD */

.card {
    margin-bottom: 10px;
    width: 20em;
    border-radius: 0.3em;
    background-color: var(--cor-secundaria);
    height: 14em;
    padding: 1em 1em;
}

.card a, .card p {
    color: #000;
}

.card > a {
    width: 100%;
    height: inherit;
    text-align: center;
}

.card > a:hover .titulo {
    color: rgba(0,0,0,0.2);
}

.card .conteudo_card {
    width: inherit;
    height: inherit;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.card img {
    max-width: inherit;
    max-height: inherit;
}

.card .titulo {
    margin-top: 1em;
    align-self: center;
}

.card .descricao {
    display: none;
}

.card p {
    font-size: 1.15em;
    margin: 0;
    padding: 0.3em;
    text-align: center;
    font-weight: bold;
}

/* ----------------------------------------------- */
/* RODAPE */

footer {
    /* parametros do flex */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: var(--cor-terciaria);
    padding: 0.5em 1.1em;
}

footer .topico {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

footer ul {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

footer a {
    display: block;
    padding: 0.4em;
    text-align: center;
}

footer li {
    display: block;
}

/* ------------------------------------------------- */


@media (min-width: 700px) {
    #checkbtn {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header > nav {
        display: block;
        margin-right: 2em;
    }

    .menu {
        flex-direction: row;
    }

    main {
        padding: 0.6em 1em;
    }

    .logo_maior {
        display: block;
    }

    section {
        grid-template-columns: repeat(3, 1fr);
    }

    .card_detalhado { 
        height: 10em;
        width: inherit;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    .card_detalhado .conteudo_card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        height: inherit;
    }
    
    .imagem_card > a, .texto_card > a {
        height: inherit;
    }

    .card_detalhado .imagem_card {
        align-self: center;
    }

    .card_detalhado picture {
        width: inherit;
        height: inherit;
        align-self: center  ;
    }

    .card_detalhado img {
        align-self: center;
    }
    
    .card_detalhado .texto_card {
        grid-column-start: 2;
        grid-column-end: 4;
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        height: inherit;
    }

    .card_detalhado .descricao {
        display: block;
        font-weight: normal;
        text-transform: capitalize;
    }
    
    .card_detalhado p {
        text-align: left;
    }

    .card_detalhado .titulo {
        text-align: center;
        margin-top: 0;
    }
    

    footer {
        flex-direction: row;
    }

    footer ul {
        grid-template-columns: 1fr 1fr;
    }

    #item1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}