{{ define "title" }}
    {{- if eq .Kind "term" -}}
        {{- i18n .Data.Plural 1 | title -}}
        {{- print ": " -}}
    {{- end -}}
    {{- i18n (lower .Title) | default .Title | title }} · {{ .Site.Title -}}
{{ end }}
{{ define "content" }}
    <style>
        a:link {
            text-decoration: none;
        }

        .links * {
            margin: 0px 5px;
        }
    </style>
    <section class="container list">
        <header>    
            <h1 class="title">
                <a class="title-link" href="{{ .Permalink | safeURL }}">
                    {{- if eq .Kind "term" -}}
                        {{- i18n .Data.Plural 1 | title -}}
                        {{- print ": " -}}
                    {{- end -}}
                    {{- i18n (lower .Title) | default .Title | title -}}
                </a>
            </h1>
        </header>
        {{ .Content }}
        <section class="articles">
            {{ range sort .Paginator.Pages ".Params.order" }}
            <article>
                <div class="article-wrapper">
                  <figure>
                    <img src="{{ .Params.card_img_url }}" alt="" />
                  </figure>
                  <div class="article-body">
                    <h2>{{ .Title }}</h2>
                    <p>
                      {{ .Description }}
                    </p>
                    <div class="links">
                        {{ if .Params.github_url }}<a target="_blank" href="{{ .Params.github_url }}" class="fa-brands fa-github"></a>{{ end }}
                        {{ if .Params.website_url }}<a target="_blank" href="{{ .Params.website_url }}" class="fa-solid fa-globe"></a>{{ end }}
                    </div>
                  </div>
                </div>
            </article>
            {{ end }}
        </section>
        {{ partial "pagination.html" . }}
    </section>
{{ end }}
  