:root {
    --menu-height: 60px;
}

@font-face {
    font-family: silkscreen;
    src: url(../fonts/Silkscreen/Silkscreen-Regular.ttf);
}

@font-face {
    font-family: silkscreen;
    src: url(../fonts/Silkscreen/Silkscreen-Bold.ttf);
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    background-color: #111;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

canvas {
    position: absolute;
    margin: auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #999;
    margin: 0;
}

.logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.logo-title h1 {
    margin-left: 10px;
    font-size: 40px;
    text-align: center;
}

#btnMenu {
    float: right;
}

menu {
    position: fixed;
    height: var(--menu-height);
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0;
    left: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

menu * {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.aboutMenu {
    width: 33%;
    background-color: aqua;
}

.portifolioMenu {
    width: 33%;
    background-color: azure;
}

.contactMenu {
    width: 34%;
    background-color: blue;
}

.english-site {
    background-color: aquamarine;
}

.english-site img {
    height: 20px;
    width: 20px;
    float: right;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.portifolioContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.portifolioCard {
    margin: 10px;
    padding: 10px;
    width: 150px;
    height: 150px;
    background-color: #999;
    border-radius: 10px;
}

.portifolioCard h3 {
    font-size: 20px;
    text-align: center;
}

.portifolioCard p {
    font-size: 15px;
    text-align: center;
}

.contact {
    backdrop-filter: blur(3px);
}

.contactContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contactContainer .contactCard {
    margin: 10px;
}

.contactCard img {
    height: 50px;
    width: 50px;
}

footer {
    background-color: #999;
    margin-bottom: var(--menu-height);
}