header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 20px 0;

    background-color: #333;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

nav > * {
    transition: 1s;
    text-align: center;
    color: #eee;

    text-shadow: 0 10px 10px #eee;
    
    margin: 0 40px;

    font-size: 20px;
}

nav > *:hover {
    color: #eee;
    text-shadow: 0 20px 10px #eee;
}